<div class="row d-flex justify-content-center align-items-center m-0 p-0 min-vh-100  " >
    <div class="col-12 col-md-10 col-xl-4">
        <h1 class="text-center jim-nightshade-regular lh-1" style="font-size: 60px;">Iniciar Sesión</h1>
        <div class="mt-4">
            <p class="text-center fs-4 mb-0">¿Eres nuevo en el sitio?
                <a routerLink="/register" class="text-decoration-none">
                <span class="text-primary">Registrar</span>
                </a>
            </p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="p-5">
                <div class="mb-2 input-container">
                    <input class="input-default" type="email" formControlName="email" placeholder="Correo electrónico">      
                </div>

                <div *ngIf="isSubmitted && formControls['email'].errors" class="alert-warning alert ">
                    <div *ngIf="formControls['email'].errors['required']">El correo electrónico es requerido</div>
                </div>

                <div class="mb-2 input-container">
                    <input class="input-password" type="{{ hidePassword ? 'password' : 'text' }}" placeholder="Contraseña" formControlName="password">
                    <a (click)="togglePasswordVisibility()" class="i-lock">
                        <fa-icon [icon]="currentIcon"></fa-icon>
                    </a>
                </div>
                <a href="" class="text-decoration-none"><span class="text-primary">¿Olvidaste tu clave o correo?</span></a>
            </div>
            <div class="d-grid">
                
                <input type="submit" value="Iniciar Sesión" class="btn btn-dark rounded-pill">
            </div>
        </form>
    </div>
</div>