<div>

    <!-- Navbar Start -->
    <!-- Navbar End -->
    <div class="container mt-5 pt-5 pb-3">
        <div class="d-flex flex-column text-center mb-5">
            <h1 class="display-4 m-0">SÍGUENOS DIA <span class="text-primary">A DIA</span></h1>
        </div>
        <div class="row">
            @for (blog of blogs; track $index) {
                <div class="col-lg-3 col-md-6">
                    <div class="team card position-relative overflow-hidden border-0 mb-4">
                        <img class="card-img-top" src="{{blog.img}}" alt="">
                        <div class="card-body text-center p-0">
                            <div class="team-text d-flex flex-column justify-content-center bg-light">
                                <h5>{{blog.title}}</h5>
                            </div>
                            <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                                <a class="text-center mr-2 px-0"
                                    style="width: auto; height: 36px; text-decoration: none; color: #9CADCE;"
                                    href="https://www.diainternacionalde.com/ficha/dia-internacional-gato">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>