<h2 mat-dialog-title>Nueva Mascota</h2>
<form [formGroup]="formMascotaEdit" (ngSubmit)="save()">
    <mat-dialog-content class="mat-typography">
        <div class="mb-3">
            <label>Foto:</label>
            <input type="text" formControlName="img" class="form-control">
        </div>
        <div class="mb-3">
            <label>Nombre:</label>
            <input type="text" formControlName="name" class="form-control">
            <div *ngIf="formMascotaEdit.get('name')?.invalid && (formMascotaEdit.get('name')?.dirty || formMascotaEdit.get('name')?.touched)"
                class="alert alert-danger">
                <div *ngIf="formMascotaEdit.get('name')?.errors?.['required']">* El nombre es obligatorio.</div>
                <div *ngIf="formMascotaEdit.get('name')?.errors?.['minlength']">* El nombre debe tener al menos 4
                    caracteres.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label>Edad:</label>
                    <input type="number" formControlName="age" class="form-control">
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label>Raza:</label>
                    <input type="text" formControlName="raza" class="form-control">
                </div>
            </div>
        </div>


        <div class="mb-3">
            <label>Descripción:</label>
            <textarea formControlName="description" class="form-control"></textarea>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial type="submit" [disabled]="!formMascotaEdit.valid">Guardar</button>
    </mat-dialog-actions>
</form>