<div>
  <!-- Navbar Start -->
 
  <!-- Navbar End -->

  <!-- About Start -->
  <div class="container py-0">
      <div class="row py-5">
          <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
              <h4 class="mb-3">Sobre nosotros</h4>
              <h1 class="display-4 mb-4"><span class="text-primary">Refugio</span> para <span class="text-primary">Animales</span></h1>
              <h5 class="text-muted mb-3">Amet stet amet ut. Sit no vero vero no dolor. Sed erat ut sea. Just clita ut stet kasd at diam sit erat vero sit.</h5>
              <p class="mb-4">Nuestra misión es esterilizar a los animales de la calle, como solución al problema de sobre población y abandono de estos mismos. Por eso hacemos campañas mensuales de esterilización en distritos de población vulnerable.</p>
              <ul class="list-inline">
                  <li><h5><i class="fas fa-users text-info mr-3"></i>Con colaboradores fieles</h5></li>
                  <li><h5><i class="fas fa-heart text-info mr-3"></i>Comunidad amante a los animales</h5></li>
                  <li><h5><i class="fas fa-clock text-info mr-3"></i>24/7 para cualquier rescate</h5></li>
              </ul>
          </div>
          <div class="col-lg-5">
              <div class="row px-3">
                  <div class="col-12 p-0">
                      <img class="img-fluid w-100" src="assets/about-1.jpg" alt="">
                  </div>
                  <div class="col-6 p-0">
                      <img class="img-fluid w-100" src="assets/about-2.jpg" alt="">
                  </div>
                  <div class="col-6 p-0">
                      <img class="img-fluid w-100" src="assets/about-3.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- About End -->


<!-- Services Start -->
<div class="container-fluid bg-light pt-3">
  <div class="container py-3">
    <div class="d-flex flex-column text-center mb-4">
      <h2 class="text-info mb-1">Nuestros Logros</h2>
    </div>
    <div class="row pb-3">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-card border border-info p-sm-5 text-center">
          <h3 class="mb-3 text-info">40</h3>
          <p class="text-info">Mascotas Albergadas</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-card border border-info text-center p-3 p-sm-5">
          <h3 class="mb-3 text-info">20</h3>
          <p class="text-info">Mascotas Rescatadas</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="service-card border border-info text-center p-3 p-sm-5">
          <h3 class="mb-3 text-info">30</h3>
          <p class="text-info">Mascotas Adoptadas</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services End -->


  <!-- Features Start -->
  <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-5">
            <img class="img-fluid w-100" src="assets/feature.jpg" alt="">
        </div>
        <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
            <h4 class="text-info mb-3">Por qué elegirnos?</h4>
            <h1 class="display-4 mb-4"><span class="text-primary">Trato especial</span> a los animales</h1>
            <p class="mb-4">Dolor lorem lorem ipsum sit et ipsum. Sadip sea amet diam sed ut vero no sit. Et elitr stet sed sit sed kasd. Erat duo eos et erat sed diam duo</p>
            <div class="row py-2">
                <div class="col-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-cat font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Introducidos a la industria</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center mb-4">
                        <h1 class="flaticon-doctor font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Por los que no tienen voz</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center">
                        <h1 class="flaticon-care font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Hogares maravilloso</h5>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center">
                        <h1 class="flaticon-dog font-weight-normal text-secondary m-0 mr-3"></h1>
                        <h5 class="text-truncate m-0">Asistencia de calidad</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->



  <!-- Team Start -->
  <div class="container mt-5 pt-5 pb-3">
      <div class="d-flex flex-column text-center mb-5">
          <h4 class="text-info mb-3">Equipo Principal</h4>
          <h1 class="display-4 m-0">Comprometidos <span class="text-primary">Con todo</span></h1>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="team card position-relative overflow-hidden border-0 mb-4">
                  <img class="card-img-top" src="assets/team-1.jpg" alt="">
                  <div class="card-body text-center p-0">
                      <div class="team-text d-flex flex-column justify-content-center bg-light">
                          <h5>Mollie Ross</h5>
                          <i>Founder & CEO</i>
                      </div>
                      <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="team card position-relative overflow-hidden border-0 mb-4">
                  <img class="card-img-top" src="assets/team-2.jpg" alt="">
                  <div class="card-body text-center p-0">
                      <div class="team-text d-flex flex-column justify-content-center bg-light">
                          <h5>Jennifer Page</h5>
                          <i>Chef Executive</i>
                          
                      </div>
                      <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="team card position-relative overflow-hidden border-0 mb-4">
                  <img class="card-img-top" src="assets/team-3.jpg" alt="">
                  <div class="card-body text-center p-0">
                      <div class="team-text d-flex flex-column justify-content-center bg-light">
                          <h5>Kate Glover</h5>
                          <i>Doctor</i>
                      </div>
                      <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="team card position-relative overflow-hidden border-0 mb-4">
                  <img class="card-img-top" src="assets/team-4.jpg" alt="">
                  <div class="card-body text-center p-0">
                      <div class="team-text d-flex flex-column justify-content-center bg-light">
                          <h5>Lilly Fry</h5>
                          <i>Trainer</i>
                      </div>
                      <div class="team-social d-flex align-items-center justify-content-center bg-dark">
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                          <a class="btn btn-outline-info rounded-circle text-center px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Team End -->



  <!-- Footer Start -->
  <!-- Footer End -->

</div>
