<h2 mat-dialog-title>Nueva Mascota</h2>
<form [formGroup]="formTestimonio" (ngSubmit)="save()">
    <mat-dialog-content class="mat-typography">
        <div class="mb-3">
            <label>Foto:</label>
            <input type="text" formControlName="img" class="form-control">
        </div>
        <div class="mb-3">
            <label>Titulo:</label>
            <input type="text" formControlName="title" class="form-control">
            <div *ngIf="formTestimonio.get('title')?.invalid && (formTestimonio.get('title')?.dirty || formTestimonio.get('title')?.touched)"
                class="alert alert-danger">
                <div *ngIf="formTestimonio.get('title')?.errors?.['required']">* El nombre es obligatorio.</div>
                <div *ngIf="formTestimonio.get('title')?.errors?.['minlength']">* El nombre debe tener al menos 4
                    caracteres.</div>
            </div>
        </div>
        <div class="mb-3">
            <label>Descripción:</label>
            <textarea formControlName="description" class="form-control"></textarea>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial type="submit" [disabled]="!formTestimonio.valid">Guardar</button>
    </mat-dialog-actions>
</form>
